@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: #ffffff;
}

body, .site-nav__link {
  color: #212121;
}

body {
  font-family: Roboto, sans-serif;
}

body {
  letter-spacing: 0.03em;
}

body {
  font-weight: normal;
}

body {
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo, .link, .site-nav__link, .header-contacts__address, .menu-container__link, .menu-container__tel, .menu-container__mail, .menu-container__social--link, .footer__link--transition, .table-portfolio__link {
  text-decoration: none;
}

.list, .menu-container__navigation, .menu-container__contacts, .menu-container__social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.is-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
}

.line {
  display: none;
}

.logo {
  padding: 16px 0 16px 0;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  display: inline-block;
}

.logo__studio {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding: 26px 0 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-nav__items--positioned {
  position: relative;
}

@media screen and (min-width: 768px) {
  .site-nav__link--active {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link--active:hover, .site-nav__link--active:focus {
    color: #2196f3;
  }
  .site-nav__link--underlined {
    color: #2196f3;
  }
  .site-nav__link--underlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .site-nav__items {
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    cursor: pointer;
  }
}

.site-nav__items:last-child {
  margin-right: 0;
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-contacts__address {
  color: #757575;
}

@media screen and (min-width: 768px) {
  .header-contacts__address {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.header-contacts__address--active {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__address--active:hover, .header-contacts__address--active:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contacts__address {
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__items:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__items:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__items {
    padding: 32px 0 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .envelope-icon {
    margin-right: 8px;
    height: 10px;
    width: 14px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .envelope-icon {
    margin-right: 10px;
    height: 12px;
    width: 16px;
  }
}

@media screen and (min-width: 768px) {
  .smartphone-icon {
    margin-right: 8px;
    height: 14px;
    width: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .smartphone-icon {
    margin-right: 10px;
    height: 16px;
    width: 10px;
  }
}

@media screen and (min-width: 768px) {
  .common-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

/*выпающее меню*/
@media screen and (max-width: 767px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icon-cross,
  .icon-menu {
    display: none;
  }
}

.header__menu {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu:hover, .header__menu:focus {
  color: #2196f3;
}

.header__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 4;
  padding: 10px 0 10px 0;
  margin-left: auto;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.header-menu {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu:hover, .header-menu:focus {
  color: #2196f3;
}

.header__menu .icon-cross {
  display: none;
}

.header__menu.is-open .icon-cross {
  display: block;
}

.header__menu.is-open .icon-menu {
  display: none;
}

.header {
  position: relative;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 796px;
  padding: 48px 83px 47px 40px;
  background-color: #ffffff;
  z-index: 3;
}

.menu-container.is-open {
  display: block;
}

.menu-container__navigation {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 302px;
}

.menu-container__link {
  color: #212121;
}

.menu-container__link--active {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container__link--active:hover, .menu-container__link--active:focus {
  color: #2196f3;
}

.menu-container__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-container__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-container__contacts--list {
  margin: 0 0 65px 0;
  padding: 0;
}

.menu-container__contacts {
  margin-bottom: 32px;
}

.menu-container__contacts:last-child {
  margin-bottom: 0;
}

.menu-container__mail {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-container__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-container__social {
  position: relative;
  margin-left: 20px;
}

.menu-container__social--link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/*псевдоэлементы*/
.menu-container__social--link::after {
  content: '';
  position: absolute;
  right: 10px;
  display: block;
  width: 1px;
  height: 100%;
  border-color: rgba(33, 33, 33, 0.2);
  opacity: 1;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__studio--white {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer__mob {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .logo__footer {
    margin-bottom: 20px;
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    margin: 0 70px 0 0;
  }
}

.footer__address--physical {
  margin-bottom: 8px;
  line-height: 1.71;
  font-style: inherit;
  font-weight: normal;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__address--physical {
    margin-bottom: 9px;
  }
}

.footer__address--virtual {
  margin-bottom: 8px;
  font-weight: normal;
  line-height: 1.71;
}

.footer__address--virtual:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .footer__address--virtual {
    margin-bottom: 9px;
  }
  .footer__address--virtual:last-child {
    margin-bottom: 0;
  }
}

.footer__link--transition {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--transition:hover, .footer__link--transition:focus {
  color: #2196f3;
}

.list__footer {
  margin-bottom: 60px;
}

.footer__join--appeal {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__networklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__networklist--positioning {
  margin-right: 10px;
}

.footer__networklist--positioning:last-child {
  margin-right: 0;
}

.footer__networklist--centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__networklist--centering:hover, .footer__networklist--centering:focus {
  background-color: #2196f3;
}

.footer__iconnetwork {
  width: 20px;
  height: 20px;
}

.footer__join {
  margin-bottom: 60px;
}

.footer__mailing--appeal {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__form {
  padding: 15px 0 15px 16px;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  outline: none;
}

.footer__iconmailing {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__baseline--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__baseline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mailing--centering {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.bgc-portfolio {
  padding: 60px 0;
  border-top: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .bgc-portfolio {
    padding: 94px 0;
  }
}

.filter-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
}

.filter-portfolio__wrapper {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-portfolio__wrapper {
    margin-bottom: 30px;
  }
  .filter-portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-portfolio__wrapper {
    margin-bottom: 50px;
  }
}

.filter-portfolio__button {
  margin-right: 8px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  border-style: none;
  outline: none;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms, 250ms;
          transition-duration: 250ms, 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-portfolio__button:hover, .filter-portfolio__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.table-portfolio__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.table-portfolio__link:hover, .table-portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.table-portfolio__link:hover .table-portfolio__overlay--transformed,
.table-portfolio__link:focus .table-portfolio__overlay--transformed {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.table-portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.table-portfolio__overlay--transformed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background-color: #2196f3;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.table-portfolio__overlay--text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 77px 24px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .table-portfolio__overlay--text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .table-portfolio__overlay--text {
    padding: 63px 24px;
  }
}

.table-portfolio__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
  margin-bottom: 4px;
}

.table-portfolio__application {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .table-portfolio__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .table-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .table-portfolio__list {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .table-portfolio__content.first-line {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .table-portfolio__list {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
/*# sourceMappingURL=profile.css.map */