.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 1;

  background-color: $backdrop;

  @include transition(opacity);
}

.is-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  background-color: $white-hero-color;
  box-shadow: 0px 1px 3px $box-shadow-grid1, 0px 1px 1px $box-shadow,
    0px 2px 1px $backdrop;
  border-radius: 4px;

  @include transition(transform);
}

.backdrop.is-hidden .modal-window {
  transform: scale(0.8) translate(-50%, -50%);
}

/*форма в модальном окне*/

.modal-form {
  padding: 46px 40px 35px 40px;

  &__paragraph {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  }
}

.modal-form__thumb {
  width: 100%;
  height: 100%;
}

.modal-form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__input label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.modal-form__input textarea {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid $form-border-color;
  resize: none;
}

.modal-form__input textarea::placeholder {
  color: $placeholder-color;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__input:focus-within > textarea {
  border-color: $accent-color;
  outline: transparent;
}

.modal-form__icon {
  position: relative;
  width: 100%;
}

.modal-form__icon input {
  margin: 0;
  border-radius: 4px;
  border: 1px solid $form-border-color;

  @include transition(border-color);
}

.modal-form__icon:focus-within > .modal-form__border {
  border-color: $accent-color;
  outline: transparent;
}

.modal-form__icon:focus-within > .modal-form__svg {
  fill: $accent-color;
}

.modal-form__border {
  line-height: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
}

.modal-form__icon:focus-within > .modal-form__border {
  border-color: $accent-color;
  outline: transparent;
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: inline-block;

  @include transition(fill);
}

.modal-form__icon:focus-within > .modal-form__svg {
  fill: $accent-color;
}

.modal-form__agreement {
  margin: 0;
  margin-bottom: 32px;
  width: 425px;
  margin-right: auto;
  margin-left: auto;

  & label {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text-color;
  }
}

.modal-form__agreement--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-form__agreement--hidden:checked
  + .modal-form__agreement--checked::before {
  background-color: $accent-color;
  background-image: url(../imagesoptimized/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: $accent-color;
}

.modal-form__agreement--hidden:focus + .modal-form__agreement--checked::before {
  outline: 2px solid $accent-color;
}

.modal-form__agreement--hidden:checked:focus
  + .modal-form__agreement--checked::before {
  outline: 2px solid $accent-color;
}

.modal-form__agreement--checked::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  margin-right: 7px;

  background-color: $white-hero-color;

  @include tripleTransition(background-color, border-color, border);
}

.modal-form__agreement--checked {
  display: flex;
  align-items: center;

  &:hover::before,
  &:focus::before {
    border: 2px solid $accent-color;
  }
}

// .modal-form__agreement--hidden:checked
//   + .modal-form__agreement--checked::before {
//   background-color: $accent-color;
//   background-image: url(/imagesoptimized/icon-check.svg);
//   background-size: contain;
//   background-origin: border-box;
//   border-color: $accent-color;
// }

// .modal-form__agreement--checked::before {
//   content: '';
//   display: inline-block;
//   width: 16px;
//   height: 15px;
//   border: 2px solid $primary-text-color;
//   border-radius: 2px;
//   margin-right: 7px;

//   background-color: $white-hero-color;

//   @include tripleTransition(background-color, border-color, border);
// }

// .modal-form__agreement--checked {
//   display: flex;
//   align-items: center;

//   &:hover::before,
//   &:focus::before {
//     border: 2px solid $accent-color;
//   }
// }

.modal-form__agreement--contract {
  color: $accent-color;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-left: 5px;
  cursor: pointer;
}

.modal-form__button {
  text-align: center;
  margin: 0 auto;
}

.modal-form__button--submited {
  padding: 10px 55px 10px 56px;

  border-style: none;
  outline: none;
  cursor: pointer;

  background-color: $accent-color;
  color: $white-hero-color;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px $filter-form-color;
  border-radius: 4px;
}

.modal-form__cross {
  @include centeredFlex();

  position: fixed;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50px;
  border: 1px solid $border-cross;
  background-color: $white-hero-color;
  cursor: pointer;
}

.modal-form__cross--transition {
  @include transition(fill);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
