.service-img {
  padding-top: 0px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.skills {
  display: flex;

  &__img {
    position: relative;
    height: 294px;
    margin-right: 30px;
    width: calc((100% - 30px * 2) / 3);
  }

  &__img:last-child {
    margin-right: 0;
  }
}

.skills__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: $skills-bgc-position;
}

.skills__project {
  @include centeredFlex();
  height: 70px;
  width: 100%;
  margin: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $white-hero-color;
}
