.common-line {
  @include transverseAxisFlex();
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.16;

  &__studio {
    color: $primary-text-color;
  }
}

.site-nav {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-contacts {
  display: none;
}

.header__menu {
  display: block;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 8px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
