.container {
  @extend %container;
}

.list {
  @extend %list;
}

.link {
  @extend %link;
}

.logo {
  padding: 16px 0 16px 0;

  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  display: inline-block;
  @extend %link;

  &__studio {
    color: $primary-text-color;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
    padding: 26px 0 26px 0;
  }

  @media screen and(min-width: $desktop) {
    margin-right: 93px;

    font-size: 26px;
    line-height: 1.19;
  }
}

.site-nav {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-nav__items--positioned {
  position: relative;
}

.site-nav__link {
  @extend %link;
  @extend %textColor;

  @media screen and (min-width: $tablet) {
    &--active {
      @include transition();
    }

    &--active:hover,
    &--active:focus {
      color: $accent-color;
    }

    &--underlined {
      color: $accent-color;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
        opacity: 1;

        @include transition(opacity);
      }
    }
  }
}

.site-nav__items {
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    cursor: pointer;
  }
  &:last-child {
    margin-right: 0;
  }
}

.header-contacts {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.header-contacts__address {
  @extend %link;
  color: $secondary-text-color;

  @media screen and (min-width: $tablet) {
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }

  &--active {
    @include transition();
  }

  &--active:hover,
  &--active:focus {
    color: $accent-color;
  }
  @media screen and (min-width: $desktop) {
    line-height: 1.14;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-contacts__items:not(:last-child) {
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header-contacts__items {
  @media screen and (min-width: $desktop) {
    padding: 32px 0 32px 0;
  }
}

.envelope-icon {
  @media screen and (min-width: $tablet) {
    margin-right: 8px;
    height: 10px;
    width: 14px;

    fill: currentColor;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
    height: 12px;
    width: 16px;
  }
}

.amartphone-icon {
  @media screen and (min-width: $tablet) {
    margin-right: 8px;
    height: 14px;
    width: 10px;

    fill: currentColor;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
    height: 16px;
    width: 10px;
  }
}

.common-line {
  @media screen and (min-width: $tablet) {
    @include transverseAxisFlex();
}

.line {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.header__menu {
  margin-left: auto;
  padding: 0 23px 0 0;
  background-color: transparent;
  border: transparent;

  cursor: pointer;
}

.header__menu {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header {
  display: flex;
}
