.footer {
  background-color: $secondary-bgc-gray;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__studio--white {
  color: $white-hero-color;
}

.footer__mob {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.logo__footer {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
  }
}

.footer__address {
  @media screen and (min-width: $tablet) {
    margin: 0 70px 0 0;
  }
}

.footer__address--physical {
  margin-bottom: 8px;

  line-height: 1.71;
  font-style: inherit;
  font-weight: normal;
  color: $white-hero-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.footer__address--virtual {
  margin-bottom: 8px;
  font-weight: normal;
  line-height: 1.71;

  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer__link--transition {
  color: $transparent-gray;
  @extend %link;

  @include transition();

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.list__footer {
  margin-bottom: 60px;
}

.footer__join--appeal {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  color: $white-hero-color;
  text-transform: uppercase;
}

.footer__networklist {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  justify-content: center;

  &--positioning {
    margin-right: 10px;
  }

  &--positioning:last-child {
    margin-right: 0;
  }
}

.footer__networklist--centering {
  @include centeredFlex();

  max-width: 100%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $secondary-bgc-white;
  background: $networklist-bgc;
  justify-content: center;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer__iconnetwork {
  width: 20px;
  height: 20px;
}

.footer__join {
  margin-bottom: 60px;
}

.footer__mailing--appeal {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  color: $white-hero-color;
  text-transform: uppercase;
}

.footer__form {
  padding: 15px 0 15px 16px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: $transparent-gray;
  background-color: $secondary-bgc-gray;

  border: 1px solid $border-mailing-color;
  filter: drop-shadow(0px 4px 4px $filter-form-color);
  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.footer__button {
  display: flex;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $white-hero-color;

  box-shadow: 0px 4px 4px $filter-form-color;
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  outline: none;
}

.footer__iconmailing {
  margin-left: 10px;
}

.footer__baseline--tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer__baseline {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__mailing--centering {
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-top: 20px;
  }
}
