.table-portfolio__link {
  display: block;
  width: 100%;
  @extend %link;

  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px $box-shadow-grid1, 0px 4px 4px $box-shadow-grid2,
      1px 4px 6px $box-shadow-grid3;
  }
}

.table-portfolio__link:hover .table-portfolio__overlay--transformed,
.table-portfolio__link:focus .table-portfolio__overlay--transformed {
  transform: translateY(-100%);
}

.table-portfolio__overlay {
  position: relative;
  overflow: hidden;
  // width: 100%;
  // height: 100%;

  &--transformed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    // bottom: 0;
    background-color: $accent-color;
    transform: translateY(0);

    @include transition(transform);
  }
}

.table-portfolio__overlay--text {
  position: absolute;
  top: 50%;
  left: 50%;
  // padding: 77px 24px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin: 0;

  font-weight: normal;
  font-size: calc(15px + (3 + 3 * 0.7) * ((100vw - 320px) / 1200));
  line-height: 1.56;
  color: $white-hero-color;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: calc(10px + (67 + 67 * 0.7) * ((100vw - 320px) / 1200));
    padding-bottom: calc(10px + (67 + 67 * 0.7) * ((100vw - 320px) / 1200));
    padding-right: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
    padding-left: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
  }

  @media screen and (min-width: $mobile) {
    padding: 77px 24px;
  }

  @media screen and (min-width: $tablet) {
    padding: 49px 22px;
  }

  @media screen and (min-width: $desktop) {
    padding: 63px 24px;
  }
}

.table-portfolio__content {
  padding: 20px 24px;
  border-right: 1px solid $portfolio-border;
  border-bottom: 1px solid $portfolio-border;
  border-left: 1px solid $portfolio-border;
}

.projects {
  margin-top: 0;
  margin-bottom: 4px;

  color: $primary-text-color;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
  margin-bottom: 4px;
}

.table-portfolio__application {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.87;

  color: $secondary-text-color;
}

@media screen and (max-width: 767px) {
  .table-portfolio__list {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .table-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .table-portfolio__list {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
  .table-portfolio__content.first-line {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: $desktop) {
  .table-portfolio__list {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.table-portfolio__list {
  display: inline-block;
  width: calc(100% - 30px);
  margin: 15px;
}

.table-portfolio {
  margin: -15px;
}
