.section-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  list-style: none;
  padding: 0;
}

.clients__list {
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);
}

@media screen and (max-width: 1199px) {
  .clients {
    margin-top: -15px;
    margin-bottom: -15px;
  }

  .clients__list {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: $tablet) {
  .clients__list {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: $desktop) {
  .clients__list {
    width: calc((100% - 6 * 30px) / 6);
    width: 170px;
  }
}

.clients__link {
  @include centeredFlex();

  height: 90px;
  fill: $network-color;
  border: 1px solid $network-color;
  border-radius: 4px;
  background-position: center;

  @include doubleTransition(border-color, fill);

  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
