.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.is-hidden {
  @extend %is-hidden;
}

.advantages-flex {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.list__advantages {
  width: 450px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 4 * 30px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.antenna {
  @include centeredFlex();

  width: 450px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bgc-halfwhite;

  &__size {
    height: 70px;
    width: 70px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.vector {
  @include centeredFlex();

  width: 450px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bgc-halfwhite;

  &__size {
    height: 70px;
    width: 70px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.diagram {
  @include centeredFlex();

  width: 450px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bgc-halfwhite;

  &__size {
    height: 70px;
    width: 70px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.Group {
  @include centeredFlex();

  width: 450px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bgc-halfwhite;

  &__size {
    height: 70px;
    width: 70px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.list__title--third {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.list__content--describing {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;

  color: $secondary-text-color;
}
