.bgc-team {
  background-color: $secondary-bgc-halfwhite;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-workers {
  display: flex;

  &__portfolio {
    width: 270px;
    height: 428px;
    margin-right: 30px;
    background-color: $secondary-bgc-white;

    box-shadow: 0px 1px 3px $box-shadow-grid1, 0px 1px 1px $box-shadow,
      0px 2px 1px $backdrop;
  }

  &__portfolio:last-child {
    margin-right: 0;
  }
}

.team-workers__profile {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 168px;

  border-radius: 4px;
}

.team-workers__name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  font-weight: 500;

  text-transform: none;
}

.team-workers__position {
  margin-top: 0;
  margin-bottom: 16px;

  line-height: 1.18;
  font-size: 16px;
  text-align: center;
  font-weight: normal;

  color: $secondary-text-color;
}

.team-workers__network {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  &--centered {
    @include centeredFlex();
    margin-right: 10px;
    width: 44px;
    height: 44px;
  }

  &--centered:last-child {
    margin-right: 0;
  }
}
.team-workers__network--transition {
  @include centeredFlex();

  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: $network-color;

  @include doubleTransition(background-color, fill);
}

.team-workers__network--transition:focus,
.team-workers__network--transition:hover {
  background-color: $accent-color;
  fill: $secondary-bgc-white;
}

.team-workers__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0;
}
