.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.is-hidden {
  @extend %is-hidden;
}

.advantages-flex {
  display: flex;
}

.list__advantages {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.antenna {
  @include centeredFlex();

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bgc-halfwhite;

  &__size {
    height: 70px;
    width: 70px;
  }
}

.list__title--third {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list__content--describing {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;

  color: $secondary-text-color;
}

.vector {
  @include centeredFlex();

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bgc-halfwhite;

  &__size {
    height: 70px;
    width: 70px;
  }
}

.diagram {
  @include centeredFlex();

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bgc-halfwhite;

  &__size {
    height: 70px;
    width: 70px;
  }
}

.Group {
  @include centeredFlex();

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bgc-halfwhite;

  &__size {
    height: 70px;
    width: 70px;
  }
}
