.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__list {
    width: 170px;
    height: 90px;

    margin-right: 30px;
  }

  &__list:last-child {
    margin-right: 0;
  }
}

.clients__link {
  @include centeredFlex();

  height: 100%;
  fill: $network-color;
  border: 1px solid $network-color;

  @include doubleTransition(border-color, fill);

  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
