.list {
  @extend %list;
}

.link {
  @extend %link;
}

.common-line {
  @include transverseAxisFlex();
}

.line,
.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;
}

.site-nav {
  margin-left: 93px;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__studio,
.site-nav__link {
  color: $primary-text-color;
}

.site-nav__items {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  &--positioned {
    position: relative;
  }
}

.site-nav__link,
.header-contacts__address {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @extend %link;

  &--active {
    @include transition();
  }

  &--active:hover,
  &--active:focus {
    color: $accent-color;
  }
}

.site-nav__link--underlined {
  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    opacity: 1;

    @include transition(opacity);
  }
}

.header-contacts {
  @include transverseAxisFlex();
  margin-left: auto;

  &__items {
    margin-right: 50px;
  }
  &__items:last-child {
    margin-right: 0;
  }
}

.header-contacts__address {
  @include transverseAxisFlex();
  color: $secondary-text-color;

  &--active {
    @include transition();
  }

  &--active:hover,
  &--active:focus {
    color: $accent-color;
  }
}

.envelope-icon {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.amartphone-icon {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: currentColor;
}
