.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(54, 56, 67, 0.4),
      rgba(54, 56, 67, 0.4)
    ),
    url('../imagesoptimized/hero\ img.jpg');
  background-color: var($hero-bgc-color);
  border-top: 1px solid $border;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  &__centering {
    width: 696px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $white-hero-color;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  border-style: none;
  outline: none;
  cursor: pointer;

  background-color: $accent-color;
  color: $white-hero-color;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  letter-spacing: 0.06em;
}
