.logo {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  @extend %link;
}

.container {
  @extend %container;
}

body {
  @extend %backgroundColor;
  @extend %textColor;
  @extend %fontFamily;
  @extend %fontSize;
  @extend %letterSpacing;
  @extend %fontWeight;
}

img {
  @extend %img;
}

.section {
  @extend %section;
}
