$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-hero-color: #ffffff;
$accent-color: #2196f3;
$primary-background-wg: #e5e5e5;
$secondary-bgc-gray: #2f303a;
$secondary-bgc-white: #ffffff;
$secondary-bgc-halfwhite: #f5f4fa;
$border: #ececec;
$portfolio-border: #eeeeee;
$hero-bgc-color: #c4c4c4;
$transparent-gray: rgba(255, 255, 255, 0.6);
$network-color: #afb1b8;
$skills-bgc-position: rgba(47, 48, 58, 0.8);
$form-border-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$border-mailing-color: rgba(255, 255, 255, 0.3);
$networklist-bgc: rgba(255, 255, 255, 0.1);
$filter-form-color: rgba(0, 0, 0, 0.15);
$border-cross: rgba(0, 0, 0, 0.1);
$box-shadow-grid1: rgba(0, 0, 0, 0.12);
$box-shadow-grid2: rgba(0, 0, 0, 0.06);
$box-shadow-grid3: rgba(0, 0, 0, 0.16);
$box-shadow: rgba(0, 0, 0, 0.14);
$box-shadow2: rgba(0, 0, 0, 0.08);

$backdrop: rgba(0, 0, 0, 0.2);
$thumb-overlay-color: rgba(33, 150, 243, 0.9);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-familyMain: Roboto, sans-serif;
$font-familyLogo: Raleway, sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
